#{extends 'main.html' /}
#{set title:'Zones' /}

<div class="row">
	<section id="navigation-zone">
	</section>
	
	<section class="corps col s12 m12 l10" id="corps">
	</section>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="@{'/public/materialize/js/materialize.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/zones.js'}"></script>
<script type="text/javascript">
//custom JS code
	afficherZone(${id});
</script>