<h1>${user.prenom + " " + user.nom}</h1>

<fieldset id="fieldset-infos">
	<legend>Informations générales</legend>
	<div class="row">
		<form class="col s12">
			<div class="input-field col s12 m6 l6">
				<i class="mdi-action-account-circle prefix"></i>
				<input type="text" class="validate" id="nom" name="nom" value="${user.nom}">
				<label for="nom">Nom</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-action-account-circle prefix"></i>
				<input type="text" class="validate" id="prenom" name="prenom" value="${user.prenom}">
				<label for="prenom">Prénom</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-email prefix"></i>
				<input type="email" class="validate" id="email" name="email" value="${user.email}" disabled>
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-phone prefix"></i>
				<input type="tel" class="validate" id="telephone" name="telephone" value="${user.telephone}">
				<label for="telephone">Téléphone</label>
			</div>
			<div class="input-field col s12 m12 l12">
				<i class="mdi-communication-business prefix"></i>
				<input  type="text" class="validate" id="adresse" name="adresse" value="${user.adresse}">
				<label for="adresse">Adresse</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-business prefix"></i>
				<input  type="text" class="validate" id="code-postal" name="code-postal" value="${user.codePostal}">
				<label for="code-postal">Code postal</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-business prefix"></i>
				<input type="text" class="validate" id="ville" name="ville" value="${user.ville}">
				<label for="ville">Ville</label>
			</div>
			<a class="btn waves-effect waves-light green right" href="javascript:envoyerFormulaireModification(${user.id})">Modifier
				<i class="mdi-content-send right"></i>
			</a>
			<a class="btn waves-effect waves-light orange right" href="javascript:resetMotDePasse(${user.id})">Réinitialiser mot de passe
				<i class="mdi-action-lock right"></i>
			</a>
			<a class="btn waves-effect waves-light orange left" href="javascript:afficherModifMotDePasse(${user.id})">Modifier mon mot de passe
				<i class="mdi-action-lock right"></i>
			</a>
			<div class="row" id="div-modif-mdp">
				<div class="input-field col s12 m6 l6">
					<i class="mdi-action-lock-open prefix"></i>
					<input type="password" class="validate" id="newMdp" name="newMdp">
					<label for="newMdp">Nouveau mot de passe</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<i class="mdi-action-lock prefix"></i>
					<input type="password" class="validate" id="newMdpConf" name="newMdpConf">
					<label for="newMdpConf">Confirmation mot de passe</label>
				</div>
				<a class="btn waves-effect waves-light green right" href="modifierMotDePasse(${user.id})">Valider
					<i class="mdi-content-send right"></i>
				</a>
			</div>
		</form>
	</div>
</fieldset>
<fieldset>
	<legend>Responsable des zones</legend>
	#{if user.getZonesResponsable().size() == 0}
        <p><em>Aucune zone à afficher</em></p>
    #{/if}
    #{else}
    	<table class="hoverable responsive-table">
        	<thead>
				<tr>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				#{list items:user.getZonesResponsable(), as:'zone'}
				<tr>
					<td>${zone.nom}</td>
				</tr>
				#{/list}
			<tbody>
		</table>
	#{/else}
</fieldset>
<fieldset>
	<legend>Zones autorisées</legend>
	#{if user.getZonesAutorise().size() == 0}
        <p><em>Aucune zone à afficher</em></p>
    #{/if}
    #{else}
    	<table class="hoverable responsive-table">
        	<thead>
				<tr>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				#{list items:user.getZonesAutorise(), as:'zone'}
				<tr>
					<td>${zone.nom}</td>
				</tr>
				#{/list}
			<tbody>
		</table>
	#{/else}
</fieldset>
<fieldset id="fieldset-cartes">
	<legend>Cartes</legend>
	#{if user.getCartes().size() == 0}
        <p><em>Aucune carte à afficher</em></p>
    #{/if}
    #{else}
    	<table class="hoverable responsive-table">
        	<thead>
				<tr>
					<th>Numéro de carte</th>
					<th>Date de création</th>
					<th>Date d'expiration</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				#{list items:user.getCartes(), as:'carte'}
				<tr id="carte-${carte.id}" class="#{if !carte.valide}red#{/if}#{else}green#{/else}">
					<td>${carte.getNumero()}</td>
					<td>${carte.dateCreation.format('dd/MM/yyyy')}</td>
					<td>${carte.dateExpiration.format('dd/MM/yyyy')}</td>
					<td>
					#{if carte.valide}
				    	<a class="btn-floating waves-effect waves-light red" href="javascript:invaliderCarte(${carte.id})" id="btn-invalid-carte-${carte.id}"><i class="tiny mdi-navigation-close" title="Invalider"></i></a>
				    #{/if}
				    <td>
				</tr>
				#{/list}
			<tbody>
		</table>
	#{/else}
	<a class="btn waves-effect waves-light green right" href="javascript:afficherAjoutCarte(${user.id})" id="btn-ajout-carte">Ajouter une carte
		<i class="mdi-content-add left"></i>
	</a>
	<div class="row" id="div-ajout-carte">
		<div class="input-field col s12 m6 l6">
			<i class="mdi-action-assignment-ind prefix"></i>
			<input type="text" class="validate" id="numCarte" name="numCarte">
			<label for="numCarte">Numéro carte</label>
		</div>
		<a class="btn waves-effect waves-light green right" href="javascript:ajouterCarte(${user.id})">Valider
			<i class="mdi-content-send right"></i>
		</a>
		<a class="btn waves-effect waves-light red right" href="javascript:afficherAjoutCarte()">Annuler
			<i class="mdi-navigation-close right"></i>
		</a>
	</div>
</fieldset>