<h1>Nouvel utilisateur</h1>

<form>
<fieldset>
	<legend>Informations générales</legend>
	<div class="row">
		<form class="col s12">
			<div class="input-field col s12 m6 l6">
				<i class="mdi-action-account-circle prefix"></i>
				<input type="text" class="validate" id="nom" name="nom">
				<label for="nom">Nom</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-action-account-circle prefix"></i>
				<input type="text" class="validate" id="prenom" name="prenom">
				<label for="prenom">Prénom</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-email prefix"></i>
				<input type="email" class="validate" id="email" name="email">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-phone prefix"></i>
				<input type="tel" class="validate" id="telephone" name="telephone">
				<label for="telephone">Téléphone</label>
			</div>
			<div class="input-field col s12 m12 l12">
				<i class="mdi-communication-business prefix"></i>
				<input  type="text" class="validate" id="adresse" name="adresse">
				<label for="adresse">Adresse</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-business prefix"></i>
				<input  type="text" class="validate" id="code-postal" name="code-postal">
				<label for="code-postal">Code postal</label>
			</div>
			<div class="input-field col s12 m6 l6">
				<i class="mdi-communication-business prefix"></i>
				<input type="text" class="validate" id="ville" name="ville">
				<label for="ville">Ville</label>
			</div>
		</form>
	</div>
</fieldset>
<button class="btn waves-effect waves-light green right" type="submit" name="action">Valider
	<i class="mdi-content-send right"></i>
</button>
</form>