<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link type="text/css" rel="stylesheet" href="@{'/public/materialize/css/materialize.min.css'}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="@{'/public/materialize/css/style.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
	    <nav>
			<div class="nav-wrapper">
				<a href="@{Application.index}" class="brand-logo">Remote Access Security</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					<li class="right"><a href="@{Secure.logout()}"  class="waves-effect waves-light btn btn-banner">Se déconnecter</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="@{CPersonnes.utilisateurs}">Utilisateurs</a></li>
					<li><a href="@{CZone.zones}">Zones</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="@{CPersonnes.utilisateurs}">Utilisateurs</a></li>
					<li><a href="@{CZone.zones}">Zones</a></li>
					<li><a href="@{Secure.logout()}"  class="waves-effect waves-light btn btn-banner">Se déconnecter</a></li>
				</ul>
			</div>
		</nav>
        #{doLayout /}
        #{get 'moreScripts' /}
        <script type="text/javascript">
           $(".button-collapse").sideNav();
        </script>
    </body>
</html>
